body {
  margin: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1e1e2f;
  gap: 50px;
  flex-direction: column;
}

.portfolio-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 470px;
  padding: 20px;
  background: #2a2a3b;
  border-radius: 20px;
  color: #ffffff;
  overflow: hidden;
}

.content {
  z-index: 2;
  width: 50%;
}

.greeting {
  font-size: 16px;
  color: #aaaaaa;
}

.name {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  position: relative;
}
.name::before {
  content: "";
  position: absolute;
  left: -1.5%;
  top: 0;
  background-color: #fff;
  width: 3px;
  height: 100%;
}
.profession {
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  background-color: #7359d1;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 25px;
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
}
.button:hover {
  color: #7359d1;
  border-color: #7359d1;
  background-color: transparent;
}
.button .arrow {
  font-size: 18px;
}

.image {
  z-index: 2;
  position: relative;
}

.image img {
  width: 500px;
  height: 500px;
  border-radius: 51% 49% 70% 30% / 30% 45% 55% 70%;
  object-fit: cover;
  animation: radius 5s ease infinite alternate-reverse;
  border: 30px solid #1e1e2f;
}
@keyframes radius {
  from {
    border-radius: 76% 24% 80% 20% / 42% 74% 26% 58%;
  }
}
.decorations .gradient-circle {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, #ffcc70, #7359d1);
  border-radius: 50%;
  z-index: 1;
}

.decorations .small-circle {
  position: absolute;
  bottom: 20px;
  right: 80px;
  width: 40px;
  height: 40px;
  background: #7359d1;
  border-radius: 76% 24% 80% 20% / 42% 74% 26% 58%;
  z-index: 1;
  animation: sradius 5s ease infinite alternate-reverse;
}
@keyframes sradius {
  from {
    border-radius: 51% 49% 70% 30% / 30% 45% 55% 70%;
  }
}
.decorations .dots {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  color: #aaaaaa;
  z-index: 2;
}
.circles-dots {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 40px;
  height: 20px;
  gap: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transform: rotate(40deg);
}
.dt {
  width: 10px;
  height: 10px;
  background-color: #7359d1;
  border-radius: 50%;
}

/* second card */

.about-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 470px;
  padding: 20px;
  background: #2a2a3b;
  border-radius: 20px;
  color: #ffffff;
  overflow: hidden;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #aaaaaa;
  line-height: 1.6;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.experience {
  font-size: 16px;
  color: #d1d1d1;
}

.year {
  font-weight: bold;
  color: #47d7a6;
}

/* 
.image-2 img{
  width: 300px;
  height: 300px;
} */

.image-container {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  width: 310px;
  height: 310px;
  justify-content: center;
  z-index: 2;
}

/* The image itself */
.image-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

/* Glowing animated border */
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background: linear-gradient(45deg, #303047, #6f2486, #4e10c0, #0617ff);
  background-size: 400% 400%;
  animation: glowing-border 10s ease infinite alternate-reverse;
  z-index: -1; /* Place behind the image */
  padding: 10px; /* Make border width */
}
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  filter: blur(15px);
  background: linear-gradient(45deg, #303047, #6f2486, #4e10c0, #0617ff);
  background-size: 400% 400%;
  animation: glowing-border 10s ease infinite alternate-reverse;
  z-index: -1; /* Place behind the image */
  padding: 10px; /* Make border width */
}

/* Keyframes for the glowing border animation */
@keyframes glowing-border {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.decorations .ggradient-circle {
  position: absolute;
  bottom: -35px;
  left: -35px;
  width: 120px;
  height: 120px;
  background: linear-gradient(45deg, #47d7a6, #7359d1);
  border-radius: 50%;
  z-index: 1;
}

/* 3RD PAGE */
.education-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 470px;
  padding: 20px;
  background: #2a2a3b;
  border-radius: 20px;
  color: #ffffff;
  overflow: hidden;
}

.contentt {
  z-index: 2;
  width: 90%;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.timeline {
  font-size: 16px;
  color: #d1d1d1;
  margin-bottom: 20px;
}

.timeline p {
  margin: 10px 0;
}

.year {
  font-weight: bold;
  color: #e76db6;
  font-size: 18px;
}

.footer-text {
  font-size: 14px;
  color: #aaaaaa;
  line-height: 1.6;
}

.image-3 {
  z-index: 2;
  position: relative;
  margin-left: 20px;
  /* transition: transform 0.5s ease; */
}

.image-3 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.decorations .gggradient-circle {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 120px;
  height: 120px;
  background: linear-gradient(45deg, #e76db6, #73a7d1);
  border-radius: 50%;
  z-index: 1;
  filter: blur(5px);
  animation: pulse 16s infinite;
}

.decorations .sssmall-circle {
  position: absolute;
  bottom: 20px;
  right: 80px;
  width: 50px;
  height: 50px;
  background: #73a7d1;
  border-radius: 50%;
  z-index: 1;
  animation: pulse 9s infinite ease-in;
  filter: blur(10px);
}

/* Animations */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10.5);
    opacity: 0.7;
  }
}

/* 4Th card */

.skills-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 470px;
  padding: 20px;
  background: #2a2a3b;
  border-radius: 20px;
  color: #ffffff;
  overflow: hidden;
}

.skills-content {
  z-index: 2;
  width: 60%;
}

.skills-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.skills-description {
  font-size: 14px;
  color: #aaaaaa;
  margin-bottom: 20px;
  line-height: 29px;
}

.skills-item {
  margin-bottom: 15px;
}

.skills-name {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
  display: block;
}

.skills-bar {
  position: relative;
  width: 100%;
  height: 20px;
  background: #444455;
  border-radius: 4px;
  overflow: hidden;
}

.skills-bar .skills-fill {
  height: 100%;
  background: linear-gradient(45deg, #e76db6, #73a7d1);
  border-radius: 4px;
}

.skills-image {
  z-index: 2;
  position: relative;
  margin-left: 20px;
  transition: transform 0.5s ease;
}

.skills-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.skills-image:hover img {
  transform: scale(1.1);
}

.bg-decor .circle-design {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  animation: jiggle 3s infinite ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ccc {
  width: 65px;
  height: 65px;
  background-color: #2a2a3b;
  border-radius: 50%;
}

.circle-top {
  top: -40px;
  left: -40px;
  width: 120px;
  height: 120px;
  background: linear-gradient(45deg, #e76db6, #73a7d1);
}

.circle-bottom {
  bottom: -50px;
  right: -50px;
  width: 150px;
  height: 150px;
  background: linear-gradient(45deg, #73a7d1, #e76db6);
}

.skills-footer {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  color: #aaaaaa;
  z-index: 2;
}

.skills-image:hover {
  transform: rotate(5deg);
}

/* Bouncing Balls */
.bouncing-ball {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ff6fb5;
  border-radius: 50%;
  z-index: 1;
  animation: bounce 2s infinite cubic-bezier(0.25, 1, 0.5, 1);
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}
.ball-1 {
  top: 20%;
  left: 10%;
  animation-delay: 0s;
}

.ball-2 {
  bottom: 20%;
  right: 15%;
  animation-delay: 0.5s;
}

.ball-3 {
  bottom: 20%;
  left: 10%;
  animation-delay: 1s;
}

/* Animations */
@keyframes jiggle {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
}

/* 5th card */
.project-library {
  width: 90%;
  max-width: 1200px;
  background-color: #2a2a3b;
  padding: 5px;
  border-radius: 10px;
}

.project-library h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #e0e0e0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project {
  background: linear-gradient(135deg, #6a5acd, #8a2be2);
  height: 150px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.project::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    transparent 70%
  );
  animation: spin 5s linear infinite;
}

.project:hover::before {
  animation: spin-reverse 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.image-shower {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: 0.5s ease;
  opacity: 0;
  z-index: 50000;
}
.image-shower::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: black;
}
.cancel {
  padding: 10px 15px;
  background-color: red;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  z-index: 50001;
  position: absolute;
  top: 8%;
  right: 8%;
}
.image-show {
  height: 80%;
  z-index: 100;
  box-shadow: 0 0 20px white;
}

/* 6th card */
.contact-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 580px;
  padding: 20px;
  background: #2a2a3b;
  border-radius: 20px;
  color: #ffffff;
  overflow: hidden;
}
.contact-card h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #e0e0e0;
}
.information {
  width: 90%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.info {
  padding: 10px;
  width: 100%;
  font-family: monospace;
  font-size: 20px;
  border: 1px solid white;
  margin: 4px;
  border-radius: 20px;
}
.info:hover {
  background-color: #fff;
  color: #6f2486;
  transition: 0.2s ease;
}
.info span {
  opacity: 0.9;
}
.message {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vlue {
  width: 80%;
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  margin: 5px;
}
.vlue label {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  margin: 10px;
  width: 50%;
  background-color: #fff;
  color: #6f2486;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding-left: 30px;
}
.vlue input {
  border-radius: 20px;
  height: 25px;
  border: none;
  padding: 8px;
  width: 50%;
  outline: none;
  font-weight: bold;
}

.vlue input::placeholder{
  color: #6f2486;
}
.whatsap{
  padding: 10px 18px;
  background-color: #6f2486;
  color: white;
  border-radius: 20px;
  font-family: monospace;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid transparent;
}
.readylink{
  color: white;
  font-family: monospace;
  font-size: 15px;
}.whatsap:hover{
  border-color:#6f2486;
  color: #6f2486;
  background-color: white;
}